h1 {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	text-align: center;
}
a:visited {
	color: green;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}

.footer {
	position:fixed;
	bottom:0px;
	width:100%;
	text-align:center;
}